/*
colors
f6f6f6
c7ffd8
98ded9
161d6f
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
}

html {
    width: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #c7ffd8;
    color: #000000;
    font-family: 'Poppins', sans-serif;;
}

#nav-header{
    width: 100%;
    background-color: #161d6f;
    padding: 0.5rem;
}
#navbar{
    display: inline-block;
    width: calc(100% - 50px);
    text-align: right;
}

#navbar > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#navbar > ul > li{
    margin-right: 0.5rem;
    display: inline-block;

}
#navbar > ul > li > a{
    font-size: 1.25rem;
    text-decoration: none;
    color: #f6f6f6;
    display: block;
    padding: 0.25rem 1rem;
    border: 2px solid #f6f6f6;
    border-radius: 10%;
}

#navbar > ul > li:hover > a,
#navbar > ul > li:active >a{
    background-color: #98ded9;
    border-color: #fc5959;
    color: #fc5959;
}
div.brand{
    vertical-align: middle;
    width: 34px;
    display: inline-block;
    margin-right: 0.5rem;
}

img#brand{
    width: 100%;
    margin-top: -5px;
}

footer{
    width: 100%;
    padding: 2rem;
    text-align: center;
    color: white;
    background-color: black;
}

#container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #2d8db6;
    padding: 0.5rem 0 3rem;
    /*height: calc(100vh - 0.5rem - 0.25rem - 44.5px - 2px);*/
}
@media only screen and (max-width: 800px) {
    #container {
        width: 100%;
    }
}

h1,h2,h3,h4,p{
    color: inherit;
}

.button{
    background-color: #161d6f;
    color: white;
    padding: 0.35rem 0.8rem;
    font-size: 1.25rem;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
}

.button:hover{
    cursor: pointer;
    background-color: #98ded9;
    border-color: #fc5959;
    color: #fc5959;
}

#form{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width:450px) {
    #form{
        width:100%;
        margin: 0 1.5rem;
    }
}
.form-control{
    margin: 0.6rem 0;
}

.form-control label{
    display: block;
    font-size: 1.1rem;
    text-align: left;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="password"]{
    width: 99%;
    font-family: inherit;
    outline:none;
    border: 1px solid #161d6f;
    border-radius: 2px;
}

.form-control textarea {
    height: 10em;
    width: 100%;
    font-family: inherit;
}

.form-control select{
    vertical-align: middle;
}

.form-control input[type="checkbox"]{
    vertical-align: middle;
}

.display-inline-block{
    text-align: left;
}
.display-inline-block > label,
.display-inline-block > input[type="datetime-local"],
.display-inline-block > input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

.agree-terms label{
    font-size: 14px;
    display: inline-block;
}

.form-error{
    padding: 0.5rem 2rem;
    color: red;
    font-size: 14px;
}

.form-error ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.quiz{
    margin: 2rem;
    padding: 1rem;
    text-align: left;
    border: 2px solid white;
    border-radius: 3px;
}

.quiz > h3{
    color: #413d3d;
    text-align: center;
}

.quiz > div > b{
    color: #B0413E;
}

.quiz > div{
    display: inline-block;
    width: calc(50% - 3rem);
}
button.delete-btn{
    font-weight: bold;
    color:red;
    background-color: inherit;
    outline:none;
    border: 2px solid red;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;
}
.quiz >div:last-child{
    text-align: right;
}

div.quiz-actions{
    width: 100%;
}

div.quiz-actions > button{
    margin-left: 0.4rem;
}

div.question{
    border: 2px solid #161d6f;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.answers > .answer > .form-control > label{
    font-size: 0.9rem;
}

.answer{
    position: relative;
    padding: 0.5rem;
    border: 1px solid #161d6f;
    margin-bottom: 0.5rem;
}

.hidden{
    visibility: hidden;
    margin-bottom: 0.5rem;
}

button.add-btn{
    background-color: #161d6f;
    color: white;
    padding: 0.35rem 0.8rem;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

button.add-btn:hover{
    background-color: #98ded9;
    border-color: #fc5959;
    color: #fc5959;
}
#add-question-btn{
    margin-bottom: 0.8rem;
}

p.form-error{
    color: red;
}

.flash-msg{
    width: 90%;
    background-color: #5cf45c;
    padding: 1rem 0;
    margin: 1rem auto;
    border: 3px solid darkgreen;
    border-radius: 5px;
}

.flash-msg > h3{
    color: darkgreen;
    font-family: inherit;
}

.red-msg{
    background-color: #f8706c;
    border: 3px solid red;

}

.red-msg > h3{
    color: red;
}

a.next-btn{
    font-family: inherit;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    background-color: #161d6f;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.3rem 1rem;
}

a.next-btn:hover,
a.next-btn:active{
 background-color: #2b2a2a;
}


/*Loading Spinner*/
.lds-spinner {
    color: white;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
