<div id="paginator">
    <div>
        {% if numOfPage > 0 %}
        <a class="next-btn" href="{{ path('user_quizzes') }}?page={{ numOfPage - 1 }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        {% if numOfPage < pages %}
        <a class="next-btn" href="{{ path('user_quizzes') }}?page={{ numOfPage + 1 }}"> <i class="fas fa-arrow-right"></i></a>
        {% endif %}
    </div>
</div>