<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("form").submit();
    }
</script>
<style>
    .grecaptcha-badge {
        visibility: hidden;
    }
</style>
<button class="button g-recaptcha"
        data-sitekey="{{ google_site_key }}"
        data-callback='onSubmit'
        data-action='submit'>{{ button_name }}</button>